.main-container {
  border: 1px solid red;
  width: 450px;
  padding: 5px;
}

.top-container {
  background-color: grey;
  color: white;
  padding: 5px;
}

.people-name-container {
  display: inline-flex;
  padding: 5px;
}

.people-title {
  margin-left: 5px;
}

.people-name {
  font-weight: bold;
}

.people-container {
  display: flex;
  margin-top: 5px;
}

.profile-image {
  border: 1px solid blue;
  margin-right: 10px;
}
